/*@media print {
    /*IMPRESSÃO*/

/*=====================================📱 MOBILE ==========================================*/
/*#PORTRAIT  max-width: 480px*/
@media screen and (max-width: 768px) and (orientation: portrait) {
    .container{
        width: 95vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    header {
        max-width: 85vw;
        overflow: hidden;
    }

    header .volume-slider, .keys-check {
        flex-direction: column;
    }

    header h2 {
        font-size: 1rem;
    }

    header .column span {
        font-size: 0.8rem;
        margin: 0;
    }

    .volume-slider input {
        width: 6rem;
    }


    .piano-keys {
        width: 85vw;
        margin: 0.5rem auto;
        padding: 0.5rem;
        margin-top: 2.5rem;
    
    }
    
    .piano-keys .key {
        width: 95vw;
        right:1.5rem;
        cursor: pointer;
        color: #a2a2a2;
        user-select: none;
        position: relative;
        text-transform: uppercase;
    }

    .piano-keys .white {
        width: 4.37rem;
        height: 8.75rem;
        margin-top: 1.5rem;
    }

    .piano-keys .black {
        width: 2.75rem;
        height: 4.37rem;
        z-index: 2;
        top: 25px;
        margin: 0px -1.375rem;
    }

    .piano-keys span {
        position: absolute;
        bottom: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        /* padding: 0px  -1rem; */
        font-size: 1rem; 
    }

    .piano-keys .white span{
       top: 75%;
       width: 100%;
       display: flex;
       justify-content: center;
       text-align: center;
       margin: 0px;
      padding: 0px  1rem 0px 0px ; 
    }

}

/*#LANDSCAPE max-width: 768px*/
@media screen and (max-width: 768px) and (orientation: landscape) {
    .container{
        width: 95vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    header {
        max-width: 85vw;
        overflow: hidden;
    }

    header .volume-slider, .keys-check {
        flex-direction: column;
    }

    header h2 {
        font-size: 1rem;
    }

    header .column span {
        font-size: 0.8rem;
        margin: 0;
    }

    .volume-slider input {
        width: 6rem;
    }


    .piano-keys {
        max-width: 75vw;
        height: 70vh;
        margin: 0 auto;
        padding: 0;
        margin-top: 2.5rem;
    
    }
    
    .piano-keys .key {
        cursor: pointer;
        color: #a2a2a2;
        user-select: none;
        position: relative;
        text-transform: uppercase;
    }

    .piano-keys .white {
        width: 4.37rem;
        height: 8.75rem;
        margin-top: 1.5rem;
    }

    .piano-keys .black {
        width: 2.75rem;
        height: 4.37rem;
        z-index: 2;
        top: 25px;
        margin: 0px -1.375rem;
    }

    .piano-keys span {
        position: absolute;
        bottom: 50%;
        width: 30%;
        justify-content: center;
        text-align: center;
        padding: 0px 0.2rem; 
    }

    .piano-keys .white span{
       top: 75%;
    }
}

